<!--Begin Form to Login-->
<div class="containerGeneral">
  <div class="containerForm">
    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="email" class="form-control" id="username" aria-describedby="emailHelp" formControlName="username" placeholder="Example: 'admin'">
        <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty)" >
          <div *ngIf="loginForm.get('username').errors.required" >
            <p class="validations alert alert-danger" role="alert">Este campo es requerido</p>
          </div>
          <div *ngIf="loginForm.get('username').errors.minlength">
            <p class="validations alert alert-danger" role="alert">
              Este campo debe de contener minimo 4 caracteres.
            </p>
          </div>
          <div *ngIf="loginForm.get('username').errors.maxlength">
            <p class="validations alert alert-danger" role="alert">
              Este campo debe de contener máximo 8 caracteres.
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="You password">
        <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty)" >
          <div *ngIf="loginForm.get('password').errors.required" >
            <p class="validations alert alert-danger" role="alert">Este campo es requerido</p>
          </div>
          <div *ngIf="loginForm.get('password').errors.minlength" >
            <p class="validations alert alert-danger" role="alert">
              La contraseña debe ser como mínimo 4 caracteres.
            </p>
          </div>
          <div *ngIf="loginForm.get('password').errors.maxlength">
            <p class="validations alert alert-danger" role="alert">
              La contraseña debe tener como máximo 20 caracteres.
            </p>
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">
        <label class="form-check-label" for="rememberMe">Remember data</label>
      </div>
      <button type="submit" class="btn btn-info buttonSubmit">Login</button>
      <small id="userInfo" class="form-text text-muted">Please enter your username and password.</small>
    </form>
  </div>
</div>
<!--End Form to Login-->
