<div class="jumbotron jumbotron-fluid Cont">
  <div class="container">
    <h1 class="display-4">
      <i class="fas fa-exclamation-triangle advertence-icon"></i>
       Access Denied to Content
      <div class="spinner-grow text-danger spinnersito" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </h1>
    <div class="content-denied">
      <p class="lead">
        Your request has been denied,
        because you do not have the authorization
        to access this content.
        <i class="fas fa-skull-crossbones"></i>
      </p>
    </div>
    <div class="reference">
      <p class="lead attention">
        Please go back to the main page.
      </p>
    </div>
    <button type="button" class="button-back btn btn-danger" (click)="redirectHome()">Go Back</button>
  </div>
</div>
