<nav class="navbar navbar-expand-sm navbar-dark bg-info">
  <a class="navbar-brand" href="#">BikeStore</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/dashboard']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Routes</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" *appHasAnyAuthority="'ROLE_ADMIN'" [routerLink]="['bikes']">Bikes</a>

          <a class="dropdown-item" *appHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN']" [routerLink]="['sales']">Sales</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
    <p class="username-data">
      {{ userData }}
    </p>
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        User
      </button>
      <div *appHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" [routerLink]="['profile']">Profile</a>
        <div class="dropdown-divider"></div>
        <a *appHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item" [routerLink]="['register']">Register</a>
        <div *appHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
