.card
    margin-bottom: 1em
.card-header
    text-align: center
    background-color: #F39BA0 !important
.card-img-top
    width: 12em
    border-radius: 50%
    height: 12em
.Tittle-Form
    text-align: center
    margin-top: 2px
    color: white
.buttonSubmit, .buttonCancel
    margin-left: 2em
    max-width: 100%
    width: 30%
.buttonSubmit
    background-color: #F37D84
    border-color: #F37D84
    color: white
.Content-Button
    text-align: center
    margin-top: 2em
.Validations-Input-Names, .validations
    font-size: 13px
.icon-username, .icon-firstname, .icon-lastname, .icon-email, .icon-profile
    font-size: 21px
    margin-left: 5px
    margin-right: 5px
.icon-user-active
    margin-left: 5px
    font-size: 21px
.check-box
    margin-top: 1em
    text-align: center