<div class="container mt-4">
    <div class="d-flex  justify-content-center align-items-center">
        <div class="col col-m-5 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <img src="../../../../assets/images/edit.png" class="card-img-top" alt="Your Avatar Image">
                    <h2 class="Tittle-Form">Update Data Profile</h2>
                </div>
                <div class="card-body">
                    <form class="registerForm" [formGroup]="editForm">

                        <div class="form-group">
                            <label for="login"><i class="icon-username fas fa-user-circle"></i> Username</label>
                            <input type="text" class="form-control" id="login" formControlName="login">
                            <div *ngIf="editForm.get('login').invalid && (editForm.get('login').dirty)">
                                <div *ngIf="editForm.get('login').errors.required">
                                    <p class="validations alert alert-danger" role="alert">Este campo es requerido</p>
                                </div>
                                <div *ngIf="editForm.get('login').errors.minlength">
                                    <p class="validations alert alert-danger" role="alert">
                                        Este campo debe de contener minimo 4 caracteres.
                                    </p>
                                </div>
                                <div *ngIf="editForm.get('login').errors.maxlength">
                                    <p class="validations alert alert-danger" role="alert">
                                        Este campo debe de contener máximo 12 caracteres.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="FirstName-Container">
                                <label for="firstName"><i class="icon-firstname fas fa-user-edit"></i> First
                                    Name</label>
                                <input type="text" class="form-control" id="firstName" formControlName="firstName">
                                <div class="Validations-Input-Names"
                                    *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty)">
                                    <div *ngIf="editForm.get('firstName').errors.required">
                                        <p class="validations alert alert-danger" role="alert">Este campo es requerido
                                        </p>
                                    </div>
                                    <div *ngIf="editForm.get('firstName').errors.minlength">
                                        <p class="validations alert alert-danger" role="alert">
                                            Mínimo 4 caracteres.
                                        </p>
                                    </div>
                                    <div *ngIf="editForm.get('firstName').errors.maxlength">
                                        <p class="validations alert alert-danger" role="alert">
                                            Máximo 20 caracteres.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="LastName-Container">
                                <label for="lastName"><i class="icon-lastname fas fa-file-signature"></i> Last
                                    Name</label>
                                <input type="text" class="form-control" id="lastName" formControlName="lastName">
                                <div *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty)">
                                    <div *ngIf="editForm.get('lastName').errors.required">
                                        <p class="validations alert alert-danger" role="alert">Este campo es requerido
                                        </p>
                                    </div>
                                    <div *ngIf="editForm.get('lastName').errors.minlength">
                                        <p class="validations alert alert-danger" role="alert">
                                            Mínimo 4 caracteres.
                                        </p>
                                    </div>
                                    <div *ngIf="editForm.get('lastName').errors.maxlength">
                                        <p class="validations alert alert-danger" role="alert">
                                            Máximo 20 caracteres.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="Email-Container">
                                <label for="email"><i class="icon-email fas fa-mail-bulk"></i> Email</label>
                                <input type="email" class="form-control" id="email" formControlName="email">
                                <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty)">
                                    <div *ngIf="editForm.get('email').errors.required">
                                        <p class="validations alert alert-danger" role="alert">Este campo es requerido
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--fieldset *appHasAnyAuthority="'ROLE_USER'" disabled-->
                        <div class="Options-Container">
                            <div class="options-select">
                                <label for="authorities"><i class="icon-profile fas fa-users"></i> Profile</label>
                                <select multiple class="form-control" formControlName="authorities" id="authorities"
                                    required>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_CLIENT">CLIENT</option>
                                </select>
                            </div>
                            <div class="form-group form-check check-box">
                                <input type="checkbox" class="form-check-input" id="activated"
                                    formControlName="activated">
                                <label class="form-check-label" for="activated">User Active <i
                                        class="icon-user-active fas fa-user-tie"></i></label>
                            </div>
                        </div>
                        <!--End Fieldset-->
                        <div class="Content-Button">
                            <button type="submit" class="btn btn-dark buttonCancel"
                                [routerLink]="['/dashboard/profile']">Volver</button>
                            <button type="submit" (click)="updateData()"
                                class="btn btn-info buttonSubmit">Actualizar</button>

                            <small id="userInfo" class="form-text text-muted">Update your user data</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>