<div class="container mt-4">
    <div class="d-flex  justify-content-center align-items-center">
        <div class="col col-m-5 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <img src="../../../../assets/images/registerUser.png" class="card-img-top"
                        alt="Your Avatar Image">
                    <h2 class="Tittle-Form">Profile Data</h2>
                </div>
                <div class="card-body">
                    <form class="registerForm" [formGroup]="editForm" >
                        <fieldset disabled>
                            <div class="form-group">
                                <label for="login"><i class="icon-username fas fa-user-circle"></i> Username</label>
                                <input type="text" class="form-control" id="login" formControlName="login">
                            </div>
                            <div class="form-group">
                                <div class="FirstName-Container">
                                    <label for="firstName"><i class="icon-firstname fas fa-user-edit"></i> First Name</label>
                                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="LastName-Container">
                                    <label for="lastName"><i class="icon-lastname fas fa-file-signature"></i> Last Name</label>
                                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="Email-Container">
                                    <label for="email"><i class="icon-email fas fa-mail-bulk"></i> Email</label>
                                    <input type="email" class="form-control" id="email" formControlName="email">
                                </div>
                            </div>
                            <div class="Options-Container">
                                <div class="options-select">
                                    <label for="authorities"><i class="icon-profile fas fa-users"></i> Profile</label>
                                    <input type="text" class="form-control" id="authorities" formControlName="authorities">
                                </div>
                                <div class="form-group form-check check-box">
                                    <input type="checkbox" class="form-check-input" id="activated"
                                        formControlName="activated">
                                    <label class="form-check-label" for="activated">User Active <i class="icon-user-active fas fa-user-tie"></i></label>
                                </div>
                            </div>
                        </fieldset>
                            <div class="Content-Button">
                                <button type="submit" class="btn btn-dark buttonCancel"
                                    [routerLink]="['/dashboard']">Volver</button>
                                <button type="button" (click)="redirectUpdate()" class="btn btn-info buttonSubmit">Editar</button>
                                
                                <small id="userInfo" class="form-text text-muted">Information about your user</small>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
