<div class="container">

    <div class="row">
        <div class="col-lg-2">
            <h2>MENU</h2>
            <nav>
                <li>
                    <a [routerLink]="['../sales']">Catalogo</a>
                </li>
                <li>
                    <a [routerLink]="['../sales/sales-list']">Ventas</a>
                </li>
            </nav>

        </div>
        <div class="col-lg-10">
            <span>Componenst</span>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>